workflows/Khuong.json
{
  "id": "Yvh0IkIAlZolmtAp",
  "name": "Khuong",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fda05ec8-3628-42ae-bf85-e21933209a62",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -608,
        448
      ],
      "id": "8a2568ca-3325-4922-8a2c-d38e6d01ddde",
      "name": "Webhook",
      "webhookId": "fda05ec8-3628-42ae-bf85-e21933209a62",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zaloplatforms.com/bot3705241397568249916:fhCEeXdgbUcQnRqWRgVjlurHgMWDEtiMnliVovjeBMyKlUrhjYRlOHXorCKDNAJT/sendPhoto",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=chat_id",
              "value": "={{ $('Webhook').item.json.body.message.chat.id }}"
            },
            {
              "name": "caption",
              "value": "My photo"
            },
            {
              "name": "photo",
              "value": "https://placehold.co/600x400"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -64,
        576
      ],
      "id": "001a06d9-17e7-4c8a-ac0b-b695d8d50a64",
      "name": "Trả lời bằng photo trên zalo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zaloplatforms.com/bot3705241397568249916:fhCEeXdgbUcQnRqWRgVjlurHgMWDEtiMnliVovjeBMyKlUrhjYRlOHXorCKDNAJT/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.chat.id }}"
            },
            {
              "name": "=text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        96,
        368
      ],
      "id": "e346270b-6810-4efb-9a01-202da73e3cab",
      "name": "Trả lời bằng text zalo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zaloplatforms.com/bot3705241397568249916:fhCEeXdgbUcQnRqWRgVjlurHgMWDEtiMnliVovjeBMyKlUrhjYRlOHXorCKDNAJT/setWebhook",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "https://n8n.thetaphoa.store/webhook/fda05ec8-3628-42ae-bf85-e21933209a62"
            },
            {
              "name": "secret_token",
              "value": "secret_token_khuong-zalo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -608,
        592
      ],
      "id": "605afa03-a8cc-4b66-9dd6-3529ee324605",
      "name": "verify zalo bot"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zaloplatforms.com/bot3705241397568249916:fhCEeXdgbUcQnRqWRgVjlurHgMWDEtiMnliVovjeBMyKlUrhjYRlOHXorCKDNAJT/sendChatAction",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.body.message.chat.id }}"
            },
            {
              "name": "action",
              "value": "typing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -320,
        304
      ],
      "id": "afb58d6f-ba66-4c8f-bb2c-86cf46256ee6",
      "name": "typing zalo "
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Trả lời câu nhắn tin của user nha: {{ $json.body.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -336,
        464
      ],
      "id": "549dd35b-3ff4-4493-bd29-2deee8404a1a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -288,
        656
      ],
      "id": "abb5ceb9-5bd5-4a1a-82f7-02ab35fee086",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jqPnZnGgMfaIpTwh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "timeout": 6000000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -416,
        640
      ],
      "id": "623c5c6c-2718-49ba-85f9-e775b1de5a8a",
      "name": "AI Local LLM Ubuntu",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "s68VwQ7zAmVodYID",
          "name": "AI studio local ubuntu"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Upload reel facebook",
        "formFields": {
          "values": [
            {
              "fieldName": "Video",
              "fieldLabel": "Đăng video",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            },
            {
              "fieldName": "Title",
              "fieldLabel": "Title",
              "placeholder": "nhập mô tả video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        -1520,
        -832
      ],
      "id": "c64950a1-47ba-4553-a5c2-10081498417c",
      "name": "On form submission",
      "webhookId": "9bf3d816-8a79-4dc2-a08c-d4a43f186f45"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        496,
        -48
      ],
      "id": "d6badfd5-f06c-4d6c-9cf1-3256fd6ff37d",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2TIL3MYULkEvveGs",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "106470202191109",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "file:data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "published",
                "value": "false"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        720,
        16
      ],
      "id": "ee463afb-5e62-48aa-8b7c-d82d4f819a2a",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "83A7rw2cSHq2OCfd",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json['link hình ảnh'] }}",
            "mode": "url"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -176,
        -48
      ],
      "id": "5c2601cb-ece3-47f6-88f9-8eed96b93c5c",
      "name": "Lấy hình ảnh trong drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2TIL3MYULkEvveGs",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lấy toàn bộ item từ node trước\nconst items = $input.all();\n\n// Sắp xếp theo tên file (name), dạng tự nhiên (1.png < 2.png < 10.png)\nitems.sort((a, b) => {\n  const nameA = a.json.name.toLowerCase();\n  const nameB = b.json.name.toLowerCase();\n  return nameA.localeCompare(nameB, undefined, { numeric: true });\n});\n\n// Trả từng item ra lại (vì n8n expects array of items)\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -48
      ],
      "id": "974d1269-08b2-4d7e-a398-ffc7887f6b9f",
      "name": "Sắp xếp thứ tự hình ảnh "
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        272,
        -48
      ],
      "id": "46e3033f-461a-4798-8112-a36ef48e1638",
      "name": "Loop Qua List"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "27f49dce-bd7a-4e10-beb6-2fd215084f92",
              "name": "media_fbid",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        -240
      ],
      "id": "e6403c0a-fc16-4bec-bc11-f0b9a7d1b6ab",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $('Đăng Face test giờ cố định trong sheet').item.json['Nội dung bài đăng'] }}"
              },
              {
                "name": "attached_media",
                "value": "={{ $json.attached_media }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        944,
        -240
      ],
      "id": "57e0b311-9d53-405c-a4c4-596c017e9c9c",
      "name": "đăng bài",
      "credentials": {
        "facebookGraphApi": {
          "id": "83A7rw2cSHq2OCfd",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1vxwDdaEgKE0unfPdZPPsAgrNi2x-eTdYDWB9zJyzdCk",
          "mode": "list",
          "cachedResultName": "N8N automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vxwDdaEgKE0unfPdZPPsAgrNi2x-eTdYDWB9zJyzdCk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Đăng Face",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vxwDdaEgKE0unfPdZPPsAgrNi2x-eTdYDWB9zJyzdCk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Đăng Face test giờ cố định trong sheet').item.json.row_number }}",
            "Link bài post": "=fb.com/{{ $json.id }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ngày ",
              "displayName": "Ngày ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Giờ",
              "displayName": "Giờ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nội dung bài đăng",
              "displayName": "Nội dung bài đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link hình ảnh",
              "displayName": "link hình ảnh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link bài post",
              "displayName": "Link bài post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1168,
        -240
      ],
      "id": "17dd8b05-1c9d-4c1d-baf5-8381d58e2f3b",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xmEqFQjHGIHhl3CL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "Đăng face bằng gg sheet:\nlink sheet: https://docs.google.com/spreadsheets/d/1vxwDdaEgKE0unfPdZPPsAgrNi2x-eTdYDWB9zJyzdCk/edit?gid=0#gid=0\ntạo folder để sẵn trong drive: với tên hình vd: 1.jpg, 2.jpg theo thứ tự hình muốn đăng",
        "height": 560,
        "width": 2256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        -320
      ],
      "typeVersion": 1,
      "id": "b3062060-3fb1-4da0-a901-6afb0128e3df",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -592,
        -176
      ],
      "id": "7aa9e3d1-fa9f-461c-ace7-0191853f5f84",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1vxwDdaEgKE0unfPdZPPsAgrNi2x-eTdYDWB9zJyzdCk",
          "mode": "list",
          "cachedResultName": "N8N automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vxwDdaEgKE0unfPdZPPsAgrNi2x-eTdYDWB9zJyzdCk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Đăng Face",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vxwDdaEgKE0unfPdZPPsAgrNi2x-eTdYDWB9zJyzdCk/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Ngày ",
              "lookupValue": "={{ $today.format('dd/LL/yyyy') }}"
            },
            {
              "lookupColumn": "Giờ",
              "lookupValue": "={{ new Date().toLocaleTimeString('vi-VN', { timeZone: 'Asia/Ho_Chi_Minh', hour: '2-digit', minute: '2-digit' }) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -400,
        -176
      ],
      "id": "d0781469-70ba-493e-a7de-7883aaa64125",
      "name": "Đăng Face",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xmEqFQjHGIHhl3CL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1vxwDdaEgKE0unfPdZPPsAgrNi2x-eTdYDWB9zJyzdCk",
          "mode": "list",
          "cachedResultName": "N8N automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vxwDdaEgKE0unfPdZPPsAgrNi2x-eTdYDWB9zJyzdCk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Đăng Face",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vxwDdaEgKE0unfPdZPPsAgrNi2x-eTdYDWB9zJyzdCk/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Ngày ",
              "lookupValue": "=01/01/2026"
            },
            {
              "lookupColumn": "Giờ",
              "lookupValue": "16:30"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -400,
        16
      ],
      "id": "3bc20bdf-1b9b-43ce-a20c-9af02f05c198",
      "name": "Đăng Face test giờ cố định trong sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xmEqFQjHGIHhl3CL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "attached_media",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        720,
        -240
      ],
      "id": "0769bbeb-b61c-452c-987a-72aa26a63cb4",
      "name": "Gom hình lại thành 1 field3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1456,
        -288
      ],
      "id": "294f5f7f-756f-4baa-8e69-2bbe73b82747",
      "name": "Click"
    },
    {
      "parameters": {
        "content": "Zalo bot bằng AI",
        "height": 528,
        "width": 1248
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        288
      ],
      "typeVersion": 1,
      "id": "c078e020-865c-4c8a-a1f6-36145ab34f75",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Đăng face bằng shop app:",
        "height": 1024,
        "width": 3664
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        -1392
      ],
      "typeVersion": 1,
      "id": "76a12385-60a3-4907-85e9-f12601ae8f0c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "url": "https://shop.thetaphoa.store/api/facebook-posts",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -496,
        -960
      ],
      "id": "fcad9745-fe94-4d13-8172-78fd3e74637e",
      "name": "Lấy data bài "
    },
    {
      "parameters": {
        "fieldToSplitOut": "mediaFiles",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        176,
        -1184
      ],
      "id": "a35bf1c2-a051-497f-9743-e9442d4b468d",
      "name": "chia ra thành nhiều hình"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        -1184
      ],
      "id": "beffceb7-ffd3-4ec8-9044-f2b16d2c89a2",
      "name": "Loop Qua List2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "27f49dce-bd7a-4e10-beb6-2fd215084f92",
              "name": "media_fbid",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        -1328
      ],
      "id": "47c1d27f-208d-48ca-b601-d8f23436e41e",
      "name": "Sửa data cho giống facebook rule (media_fbid)"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $('Code in JavaScript2').item.json.content }}"
              },
              {
                "name": "attached_media",
                "value": "={{ $json.attached_media }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1072,
        -1328
      ],
      "id": "5fbf7686-1b2d-4cd6-b440-9d87705713c5",
      "name": "Post",
      "credentials": {
        "facebookGraphApi": {
          "id": "83A7rw2cSHq2OCfd",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "attached_media",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        848,
        -1328
      ],
      "id": "42a5d6bb-3815-4742-991e-10d70880d98d",
      "name": "Gom hình lại thành 1 field"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f1eac148-d478-4db9-b7ec-5f35d2cb9196",
              "leftValue": "={{ $json.status.publishing_phase.publish_status }}",
              "rightValue": "published",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2192,
        -816
      ],
      "id": "fab4183c-e52a-49a3-9d89-ff2c820572e1",
      "name": "Check nếu chưa up thì đợi lấy status lại"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.postType }}",
                    "rightValue": "post",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "158fe265-faf0-4df3-88e0-ca86f28191b4"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cd320540-12ed-42f9-be8e-221896c563c1",
                    "leftValue": "={{ $json.postType }}",
                    "rightValue": "reel-video",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c27546b5-3864-4261-b31b-6e4811df7be6",
                    "leftValue": "={{ $json.postType }}",
                    "rightValue": "reel-link",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -48,
        -976
      ],
      "id": "b012c213-0cf3-431d-86a8-86059f2cf3a8",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "={{ $json.mediaFiles[0].url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) Chrome/91.0.4472.124"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "bbc6f123-fbbc-45cd-8676-09ed54483834",
      "name": "Get TikTok Video Page Data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        176,
        -640
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.data;\nconst headers = $input.first().json.headers || {};\nconst cookies = headers['set-cookie'] || [];\n\nif (!html) {\n  throw new Error(\"HTML body is undefined. Check the previous node's output.\");\n}\nconst regex = /<script id=\"__UNIVERSAL_DATA_FOR_REHYDRATION__\" type=\"application\\/json\">([\\s\\S]*?)<\\/script>/;\nconst match = html.match(regex);\n\nif (match) {\n  const jsonStr = match[1];\n  const data = JSON.parse(jsonStr);\n  const videoUrl = data?.__DEFAULT_SCOPE__?.[\"webapp.video-detail\"]?.itemInfo?.itemStruct?.video?.playAddr;\n  if (!videoUrl) {\n    throw new Error(\"Could not find video URL in the JSON data.\");\n  }\n  return [{ json: { videoUrl, cookies: cookies.join('; ') } }];\n} else {\n  throw new Error(\"Could not find __UNIVERSAL_DATA_FOR_REHYDRATION__ script in the HTML.\");\n}"
      },
      "id": "68669f9c-1d48-48a4-8122-86feb3025d4d",
      "name": "Scrape raw video URL",
      "type": "n8n-nodes-base.code",
      "position": [
        400,
        -640
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "={{ $json.videoUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
            },
            {
              "name": "Referer",
              "value": "https://www.tiktok.com/"
            },
            {
              "name": "Accept",
              "value": "video/mp4,video/webm,video/*;q=0.9,application/octet-stream;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.5"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            },
            {
              "name": "Cookie",
              "value": "={{ $json.cookies }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "c04d9b23-3064-4dc8-9c10-dc41ef710a94",
      "name": "Output video file without watermark",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        624,
        -640
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.upload_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "file_size",
              "value": "={{ $json.bufferSize }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "=binaryData",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1296,
        -672
      ],
      "id": "688905d7-97e5-4f10-9cb9-b696215687b8",
      "name": "HTTP Request",
      "credentials": {
        "facebookGraphApi": {
          "id": "83A7rw2cSHq2OCfd",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1072,
        -688
      ],
      "id": "78d0edc5-90b8-4527-a31e-4e4da0c966b4",
      "name": "Merge"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "video_reels",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "video_id",
                "value": "={{ $('Merge').item.json.video_id }}"
              },
              {
                "name": "upload_phase",
                "value": "finish"
              },
              {
                "name": "video_state",
                "value": "PUBLISHED"
              },
              {
                "name": "description",
                "value": "={{ $('Code in JavaScript2').item.json.content }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1520,
        -672
      ],
      "id": "c818b233-15c1-43c1-bded-2dce30eb142c",
      "name": "Publish reel1",
      "credentials": {
        "facebookGraphApi": {
          "id": "83A7rw2cSHq2OCfd",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n\nreturn {\n  bufferSize: buffer.length\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        -528
      ],
      "id": "eb87a348-c389-48f5-b6b8-23363e2bf906",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -720,
        -960
      ],
      "id": "48102ddc-723d-42d2-8140-6a881e4f4f29",
      "name": "Schedule Trigger2"
    },
    {
      "parameters": {
        "jsCode": "const items = $('Lấy data bài ').first().json.data;\n\n// Lấy ngày giờ hiện tại\nconst now = new Date();\n\nconst vnTime = new Date(now.toLocaleString('en-US', { timeZone: 'Asia/Ho_Chi_Minh' }));\n\n// Format ngày theo DD/MM/YYYY\nconst currentDate = vnTime.toLocaleDateString('en-GB'); // \"03/01/2026\"\n// Format giờ theo HH:mm\nconst hours = String(vnTime.getHours()).padStart(2, '0');\nconst minutes = String(vnTime.getMinutes()).padStart(2, '0');\nconst currentTime = `${hours}:${minutes}`; // \"09:06\"\n\nconst filtered = items.filter(item => {\n\n  // So sánh trực tiếp chuỗi\n  const matchDate = item.scheduledDate === currentDate;\n  const matchTime = item.scheduledTime === currentTime;\n  const notPublished = item.status !== 'published';  \n\n  \n  return matchDate && matchTime && notPublished;\n});\n\nreturn filtered.map(post => ({ json: post }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        -960
      ],
      "id": "fdb8332d-83e3-4654-a64b-268e8f647bd1",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.upload_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "file_url",
              "value": "={{ $('Code in JavaScript2').item.json.mediaFiles[0].url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1296,
        -960
      ],
      "id": "b18ee74e-daef-485d-ba75-d63d61d041c6",
      "name": "Rupload Video 1",
      "credentials": {
        "facebookGraphApi": {
          "id": "83A7rw2cSHq2OCfd",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "video_reels",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "video_id",
                "value": "={{ $('Upload session bằng video upload').item.json.video_id }}"
              },
              {
                "name": "upload_phase",
                "value": "finish"
              },
              {
                "name": "video_state",
                "value": "PUBLISHED"
              },
              {
                "name": "description",
                "value": "={{ $('Code in JavaScript2').item.json.content }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1520,
        -960
      ],
      "id": "037bfeff-ffc8-4498-8e9d-9791b36ff738",
      "name": "Publish reel2",
      "credentials": {
        "facebookGraphApi": {
          "id": "83A7rw2cSHq2OCfd",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1744,
        -816
      ],
      "id": "7ddeb058-d52e-49f5-8173-ae5c39a0e07a",
      "name": "Đợi status thành công1",
      "webhookId": "123f88d6-5c69-4b7f-89eb-a0b810f92c2e"
    },
    {
      "parameters": {
        "graphApiVersion": "v23.0",
        "node": "={{ $('Merge').item.json.video_id }}",
        "edge": "=",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "fields",
                "value": "status"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1968,
        -896
      ],
      "id": "b1e4c77c-777e-498e-84d0-855f269cfe1e",
      "name": "Lấy status1",
      "credentials": {
        "facebookGraphApi": {
          "id": "83A7rw2cSHq2OCfd",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "video_reels",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "upload_phase",
                "value": "start"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1072,
        -960
      ],
      "id": "8d54cae3-57d3-4c91-9357-00b04fac87aa",
      "name": "Upload session bằng video upload",
      "credentials": {
        "facebookGraphApi": {
          "id": "83A7rw2cSHq2OCfd",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "video_reels",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "upload_phase",
                "value": "start"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        848,
        -816
      ],
      "id": "1e60292d-50b2-4950-97f7-5f83868137c4",
      "name": "Upload session bằng link tiktok",
      "credentials": {
        "facebookGraphApi": {
          "id": "83A7rw2cSHq2OCfd",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "106470202191109",
        "edge": "photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "published",
                "value": "false"
              },
              {
                "name": "url",
                "value": "={{ $json.url }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        624,
        -1136
      ],
      "id": "60c3e08a-7976-4cd9-b893-3ebb4dad4eb2",
      "name": "Upload hình",
      "credentials": {
        "facebookGraphApi": {
          "id": "83A7rw2cSHq2OCfd",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://shop.thetaphoa.store/api/facebook-posts",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('Code in JavaScript2').item.json._id }}"
            },
            {
              "name": "status",
              "value": "published"
            },
            {
              "name": "postUrl",
              "value": "=facebook.com/{{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1296,
        -1328
      ],
      "id": "9fa2d390-e980-410a-8dac-8791715b4e9e",
      "name": "Cập nhật vô database post"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://shop.thetaphoa.store/api/facebook-posts",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('Code in JavaScript2').item.json._id }}"
            },
            {
              "name": "status",
              "value": "published"
            },
            {
              "name": "postUrl",
              "value": "=facebook.com/{{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2416,
        -816
      ],
      "id": "6f8fe6bf-b331-46d7-8f0b-24c0d040aad7",
      "name": "Cập nhật vô database reel"
    },
    {
      "parameters": {
        "postSettings": {
          "text": "={{ $json.description }}",
          "visibilityType": 0,
          "allowComment": 1,
          "scheduleTime": "=0",
          "anchors": {
            "anchor": [
              {
                "type": "product",
                "productId": "={{ $json.productId }}",
                "displayName": "={{ $json.productTitle }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-social-tiktok.tikTokUpload",
      "typeVersion": 1,
      "position": [
        256,
        1216
      ],
      "id": "353b9b79-c6d2-4cc8-9699-5caf01bdb34b",
      "name": "TikTok Upload File Path",
      "credentials": {
        "tiktokApi": {
          "id": "UXpOpodAqPGk9di3",
          "name": "TikTok Credential account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $('Lấy data bài 1').first().json.data;\n\n// Lấy ngày giờ hiện tại\nconst now = new Date();\n\nconst vnTime = new Date(now.toLocaleString('en-US', { timeZone: 'Asia/Ho_Chi_Minh' }));\n\n// Format ngày theo DD/MM/YYYY\nconst currentDate = vnTime.toLocaleDateString('en-GB'); // \"03/01/2026\"\n// Format giờ theo HH:mm\nconst hours = String(vnTime.getHours()).padStart(2, '0');\nconst minutes = String(vnTime.getMinutes()).padStart(2, '0');\nconst currentTime = `${hours}:${minutes}`; // \"09:06\"\n\nconst filtered = items.filter(item => {\n\n  // So sánh trực tiếp chuỗi\n  const matchDate = item.scheduledDate === currentDate;\n  const matchTime = item.scheduledTime === currentTime;\n  const notPublished = item.status !== 'published';  \n\n  return matchDate && matchTime && notPublished;\n});\n\nreturn filtered.map(post => ({ json: post }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        1216
      ],
      "id": "9beb41c1-d907-4b8b-9a6a-f33667d22f57",
      "name": "Check thời gian"
    },
    {
      "parameters": {
        "url": "={{ $json.video.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -192,
        1296
      ],
      "id": "a02ed53a-a422-43bf-a509-4fa4755275b4",
      "name": "Lấy video"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -864,
        1216
      ],
      "id": "6c388ab1-4886-4ade-83a1-8e8988914aac",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://shop.thetaphoa.store/api/tiktok-scheduled-posts",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('Check thời gian').first().json._id }}"
            },
            {
              "name": "status",
              "value": "published"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        480,
        1216
      ],
      "id": "59e36817-a7da-4e21-9913-e9504d522083",
      "name": "Cập nhật vô database"
    },
    {
      "parameters": {
        "url": "https://shop.thetaphoa.store/api/tiktok-scheduled-posts/by-username?username=menamine2",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -640,
        1216
      ],
      "id": "e04c0530-d0f8-4133-b758-c1de28c6f810",
      "name": "Lấy data bài 1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        32,
        1216
      ],
      "id": "cead2a47-706a-46e4-b170-0f64738c5ea2",
      "name": "Merge1"
    },
    {
      "parameters": {
        "url": "https://shop.thetaphoa.store/api/veo3-tokens",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -912,
        2224
      ],
      "id": "d3fa99c7-cadf-4fa6-9825-6507d7c84eed",
      "name": "get token veo3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "19257071-5bd9-41c9-a242-ddccd226554c",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        432,
        1696
      ],
      "id": "6c0ab946-33b5-4196-819a-4fab999cbd74",
      "name": "check status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "725206b9-7c31-4630-bbf9-bff5d17ce395",
              "leftValue": "={{ $json.result.operations[0].operation.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        656,
        1680
      ],
      "id": "76ffbbc6-e82b-4804-8c30-0d4e5d6bc0d8",
      "name": "kiểm tra tên"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bb52ec6b-2c36-4ad0-88d7-89b2f77ffbc4",
              "leftValue": "={{ $json.operations[0].operation.metadata.video.fifeUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1104,
        1600
      ],
      "id": "1a760480-afd2-440e-bbb5-88c5c814b798",
      "name": "kiểm tra xem có file url"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        656,
        1872
      ],
      "id": "87e47bd4-35d7-44fe-b0b4-bc0c2021e022",
      "name": "Wait2",
      "webhookId": "3e865c03-099f-4d24-b3c3-4f9ec9e52b2f"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1328,
        1680
      ],
      "id": "9de70120-331e-4bfb-8403-bc89f2902648",
      "name": "Wait3",
      "webhookId": "a94b0bf9-3d35-436d-b91f-14cb5fa3fa70"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data[0].prompts",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -464,
        2112
      ],
      "id": "b1807eaa-c437-426f-ba4f-959d2b2680b4",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -240,
        2112
      ],
      "id": "de97f1fa-64af-4e63-9d4e-c648dd59d559",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/files/temp_video_{{ $itemIndex }}.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -16,
        2112
      ],
      "id": "48cb4dae-46ed-424e-86cd-896cf647d336",
      "name": "ghi mấy video vô folder tạm"
    },
    {
      "parameters": {
        "command": "echo -e \"file '/files/temp_video_0.mp4'\\nfile '/files/temp_video_1.mp4'\" > /files/concat_list.txt && ffmpeg -y -f concat -safe 0 -i /files/concat_list.txt -c copy /files/merged_output.mp4"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        208,
        2112
      ],
      "id": "fc0f6c1b-1dfc-468a-b8e2-fdefe813fc8e",
      "name": "merge video"
    },
    {
      "parameters": {
        "fileSelector": "/files/merged_output.mp4",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        432,
        2112
      ],
      "id": "5123c923-30fd-402c-acc3-6c3fe4d63e21",
      "name": "lấy video ra"
    },
    {
      "parameters": {
        "command": "rm -f /files/*"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1104,
        2112
      ],
      "id": "3ef89e11-3474-4db9-92f1-7773b56cb8d0",
      "name": "Xóa video sau đăng"
    },
    {
      "parameters": {
        "url": "https://shop.thetaphoa.store/api/autoflows?accountId=6984100221bd5a4f3e75f004&productId=1730387676601289330",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -688,
        2224
      ],
      "id": "9e3b1e7c-34c2-4773-8044-338b7128c44e",
      "name": "lấy data prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://flow-api.nanoai.pics/api/fix/create-flow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6Mjc2LCJyb2xlIjozLCJpYXQiOjE3NzAzNjYxMjd9.L87YcCDxDdEUdPmlnD8-38zIwNQKg_TijRsT3VHbk2s"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"flow_url\": \" https://aisandbox-pa.googleapis.com/v1/video:batchAsyncGenerateVideoReferenceImages\",\n  \"flow_auth_token\": \"{{ $('get token veo3').item.json.data[0].value }}\",\n  \"body_json\": {\n    \"clientContext\": {\n      \"recaptchaContext\": {\n        \"token\": \"\",\n        \"applicationType\": \"RECAPTCHA_APPLICATION_TYPE_WEB\"\n      },\n      \"sessionId\": \";1770366835217\",\n      \"projectId\": \"3abca4cb-792d-4df0-8ada-4cabdcded627\",\n      \"tool\": \"PINHOLE\",\n      \"userPaygateTier\": \"PAYGATE_TIER_TWO\"\n    },\n    \"requests\": [\n      {\n        \"aspectRatio\": \"VIDEO_ASPECT_RATIO_PORTRAIT\",\n        \"metadata\": {\n          \"sceneId\": \"0eec6e8e-838f-48bd-aeb4-ca1282633c2d\"\n        },\n        \"referenceImages\": [\n          {\n            \"imageUsageType\": \"IMAGE_USAGE_TYPE_ASSET\",\n            \"mediaId\": \"{{ $json.mediaId }}\"\n          }\n        ],\n        \"seed\": 25473,\n        \"textInput\": {\n          \"prompt\": \"{{ $json.content }}\"\n        },\n        \"videoModelKey\": \"veo_3_1_r2v_fast_portrait_ultra\"\n      }\n    ]\n  },\n  \"is_proxy\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -16,
        1776
      ],
      "id": "4a11f336-e061-4d9b-8428-1434884b9f7d",
      "name": "Tạo video từ hình post"
    },
    {
      "parameters": {
        "url": "https://flow-api.nanoai.pics/api/fix/task-status",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $(\"Tạo video từ hình post\").item.json.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6Mjc2LCJyb2xlIjozLCJpYXQiOjE3NzAzNjMyNzF9.qOQ3Hbl0OazkjH2tOmSgOjkTXZGuaD9z4Bo9TRVXL0s"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        1776
      ],
      "id": "ee75639b-877a-4155-9339-3914905596ac",
      "name": "Check status"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aisandbox-pa.googleapis.com/v1/video:batchCheckAsyncVideoGenerationStatus",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "accept-language",
              "value": "en-AU,en-GB;q=0.9,en-US;q=0.8,en;q=0.7,vi;q=0.6"
            },
            {
              "name": "authorization",
              "value": "=Bearer {{ $('get token veo3').item.json.data[0].value }}"
            },
            {
              "name": "origin",
              "value": "https://labs.google"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://labs.google/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not(A:Brand\";v=\"8\", \"Chromium\";v=\"144\", \"Google Chrome\";v=\"144\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "cross-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36"
            },
            {
              "name": "x-browser-channel",
              "value": "stable"
            },
            {
              "name": "x-browser-copyright",
              "value": "Copyright 2026 Google LLC. All Rights reserved."
            },
            {
              "name": "x-browser-validation",
              "value": "AKIAtsVHZoiKbPixy+qSK1BgKWo="
            },
            {
              "name": "x-browser-year",
              "value": "2026"
            },
            {
              "name": "x-client-data",
              "value": "CK21yQEIjbbJAQijtskBCKmdygEIuubKAQiWocsBCIWgzQE="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operations\": [\n    {\n      \"operation\": {\n        \"name\": \"{{ $('Check status').item.json.result.operations[0].operation.name }}\"\n      },\n      \"status\": \"MEDIA_GENERATION_STATUS_ACTIVE\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        880,
        1680
      ],
      "id": "4f600a32-cc7a-4424-bc50-36922f6dec4e",
      "name": "Lấy video url"
    },
    {
      "parameters": {
        "url": "={{ $json.operations[0].operation.metadata.video.fifeUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1328,
        2032
      ],
      "id": "b5a29084-e924-4824-8323-de1f5b4f7f36",
      "name": "Get video"
    },
    {
      "parameters": {
        "postSettings": {
          "text": "=đèn hoàng hôn",
          "visibilityType": 0,
          "allowComment": 1,
          "scheduleTime": "=0",
          "anchors": {
            "anchor": [
              {
                "type": "product",
                "productId": "={{ $('lấy data prompt').item.json.data[0].productId }}",
                "displayName": "={{ $('lấy data prompt').item.json.data[0].productTitle }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-social-tiktok.tikTokUpload",
      "typeVersion": 1,
      "position": [
        880,
        2112
      ],
      "id": "589c4ff5-f71b-4607-9b6a-ed37ffb24835",
      "name": "TikTok Upload File",
      "credentials": {
        "tiktokApi": {
          "id": "UXpOpodAqPGk9di3",
          "name": "TikTok Credential account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        656,
        2112
      ],
      "id": "82838450-01c2-4ffa-b48e-0f79e6b6408c",
      "name": "Gộp lấy data product và video"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "typing zalo ",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Trả lời bằng text zalo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Local LLM Ubuntu": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "Loop Qua List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy hình ảnh trong drive": {
      "main": [
        [
          {
            "node": "Sắp xếp thứ tự hình ảnh ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sắp xếp thứ tự hình ảnh ": {
      "main": [
        [
          {
            "node": "Loop Qua List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Qua List": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Gom hình lại thành 1 field3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "đăng bài": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Đăng Face",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Đăng Face": {
      "main": [
        [
          {
            "node": "Lấy hình ảnh trong drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Đăng Face test giờ cố định trong sheet": {
      "main": [
        [
          {
            "node": "Lấy hình ảnh trong drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gom hình lại thành 1 field3": {
      "main": [
        [
          {
            "node": "đăng bài",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Click": {
      "main": [
        []
      ]
    },
    "verify zalo bot": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy data bài ": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chia ra thành nhiều hình": {
      "main": [
        [
          {
            "node": "Loop Qua List2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Qua List2": {
      "main": [
        [
          {
            "node": "Sửa data cho giống facebook rule (media_fbid)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload hình",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sửa data cho giống facebook rule (media_fbid)": {
      "main": [
        [
          {
            "node": "Gom hình lại thành 1 field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post": {
      "main": [
        [
          {
            "node": "Cập nhật vô database post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gom hình lại thành 1 field": {
      "main": [
        [
          {
            "node": "Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check nếu chưa up thì đợi lấy status lại": {
      "main": [
        [
          {
            "node": "Cập nhật vô database reel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Đợi status thành công1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "chia ra thành nhiều hình",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload session bằng video upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get TikTok Video Page Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get TikTok Video Page Data": {
      "main": [
        [
          {
            "node": "Scrape raw video URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape raw video URL": {
      "main": [
        [
          {
            "node": "Output video file without watermark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output video file without watermark": {
      "main": [
        [
          {
            "node": "Upload session bằng link tiktok",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Publish reel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish reel1": {
      "main": [
        [
          {
            "node": "Đợi status thành công1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Lấy data bài ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rupload Video 1": {
      "main": [
        [
          {
            "node": "Publish reel2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish reel2": {
      "main": [
        [
          {
            "node": "Đợi status thành công1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Đợi status thành công1": {
      "main": [
        [
          {
            "node": "Lấy status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy status1": {
      "main": [
        [
          {
            "node": "Check nếu chưa up thì đợi lấy status lại",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload session bằng video upload": {
      "main": [
        [
          {
            "node": "Rupload Video 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload session bằng link tiktok": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload hình": {
      "main": [
        [
          {
            "node": "Loop Qua List2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok Upload File Path": {
      "main": [
        [
          {
            "node": "Cập nhật vô database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check thời gian": {
      "main": [
        [
          {
            "node": "Lấy video",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy video": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Lấy data bài 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy data bài 1": {
      "main": [
        [
          {
            "node": "Check thời gian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "TikTok Upload File Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get token veo3": {
      "main": [
        [
          {
            "node": "lấy data prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check status": {
      "main": [
        [
          {
            "node": "kiểm tra tên",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kiểm tra tên": {
      "main": [
        [
          {
            "node": "Lấy video url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kiểm tra xem có file url": {
      "main": [
        [
          {
            "node": "Get video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Check status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Lấy video url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "ghi mấy video vô folder tạm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tạo video từ hình post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ghi mấy video vô folder tạm": {
      "main": [
        [
          {
            "node": "merge video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge video": {
      "main": [
        [
          {
            "node": "lấy video ra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lấy video ra": {
      "main": [
        [
          {
            "node": "Gộp lấy data product và video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lấy data prompt": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gộp lấy data product và video",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Tạo video từ hình post": {
      "main": [
        [
          {
            "node": "Check status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check status": {
      "main": [
        [
          {
            "node": "check status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy video url": {
      "main": [
        [
          {
            "node": "kiểm tra xem có file url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok Upload File": {
      "main": [
        [
          {
            "node": "Xóa video sau đăng",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gộp lấy data product và video": {
      "main": [
        [
          {
            "node": "TikTok Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "active": false
}