workflows/My_workflow_1288.json
{
  "id": "f07bHF6rExprpWYJ",
  "name": "My workflow 1288",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-zalos-user.zaloLoginByQr",
      "typeVersion": 1,
      "position": [
        64,
        112
      ],
      "id": "7a51020e-537d-45c2-8818-1989e139e08a",
      "name": "Zalo Login Via QR Code",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.query.url }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        688,
        112
      ],
      "id": "1b62d13f-a54b-423a-a7d6-675c42516eac",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "content": "## Đăng nhập vào zalo",
        "height": 240,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "876a73e7-3e6e-44c4-9788-3e79dc4ad62e",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "content": "## Download File\n- Nhớ copy link Production URL thay vào trong node link ảnh drive",
        "height": 240,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        0
      ],
      "typeVersion": 1,
      "id": "06bfa9a5-65dd-43be-be59-487f672191a0",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "content": "## Chạy lệnh tạo cơ sở dữ liệu\nXác thực với Postgress ở trên supabase rồi chạy lệnh này để auto tạo sẵn các bảng",
        "height": 300,
        "width": 960
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        304
      ],
      "typeVersion": 1,
      "id": "7a16fe13-14df-4495-8929-d4e1bbfb5b17",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create table public.zl_n8n_debounce (\n  id bigint generated by default as identity not null,\n  key text not null,\n  incr bigint null default '0'::bigint,\n  constraint zl_n8n_debounce_pkey primary key (id),\n  constraint zl_n8n_debounce_key_key unique (key)\n) TABLESPACE pg_default;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        752,
        432
      ],
      "id": "ee83682b-89e1-4f97-a761-159ae2cf7527",
      "name": "CreateDebounceTable"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create table public.zl_included_users (\n  id bigint generated by default as identity not null,\n  from_id text not null,\n  to_id text null,\n  created_at timestamp with time zone not null default now(),\n  key text not null,\n  constraint zl_included_users_pkey primary key (id),\n  constraint zl_included_users_key_key unique (key),\n  constraint zl_included_users_key_key1 unique (key)\n) TABLESPACE pg_default;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        528,
        432
      ],
      "id": "966ead9e-7f66-4018-9b61-d2acee91e72b",
      "name": "CreateIncludedTable"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create table public.zl_chats (\n  id bigint generated by default as identity not null,\n  is_bot boolean null default true,\n  from_id text null,\n  d_name text null,\n  to_id text null,  \n  thread_id text null,\n  message_id text null,\n  text text null,\n  timestamp bigint null,\n  status character varying null default 'pending'::character varying,\n  created_at timestamp with time zone null default now(),\n  constraint zl_chats_pkey primary key (id),\n  constraint zl_chats_message_id_key unique (message_id)\n) TABLESPACE pg_default;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        304,
        432
      ],
      "id": "b43f7cc4-8b05-4a6f-8cc8-925d9b19b120",
      "name": "CreateChatsTable"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        48,
        432
      ],
      "id": "71fcb809-1bd5-4ab1-a7d2-bb66257c211b",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-zalos-user.zaloMessageTrigger",
      "typeVersion": 1,
      "position": [
        32,
        1328
      ],
      "id": "f41a5dad-11bf-4aee-9b48-15124f4d8e5e",
      "name": "Zalo Message Trigger",
      "webhookId": "54f37947-1747-46f4-8e39-cc66e2b5103a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4db5ded9-cd1c-4f61-b92d-ef12f879c92d",
              "leftValue": "={{ $json.message.isSelf }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        1328
      ],
      "id": "979ff8fd-2434-47a9-8c3d-b7ace476fca4",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.data.msgType }}",
                    "rightValue": "webchat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "72612ffb-a0df-4276-9056-f3c5970aa96f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "eebb2d88-989c-4816-ba75-dfc946717bac",
                    "leftValue": "={{ $json.message.data.msgType }}",
                    "rightValue": "chat.sticker",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sticker"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        32,
        1760
      ],
      "id": "6fa9d93b-3831-4792-8c36-effade9a3d4f",
      "name": "Switch"
    },
    {
      "parameters": {
        "tableId": "zl_chats",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "from_id",
              "fieldValue": "={{ $('Data').item.json.from_id }}"
            },
            {
              "fieldId": "to_id",
              "fieldValue": "={{ $('Data').item.json.to_id }}"
            },
            {
              "fieldId": "thread_id",
              "fieldValue": "={{ $('Data').item.json.threadld }}"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $('Data').item.json.timestamp }}"
            },
            {
              "fieldId": "message_id",
              "fieldValue": "={{ $('Data').item.json.message_id }}"
            },
            {
              "fieldId": "text",
              "fieldValue": "={{ $('Data').item.json.text }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "pending"
            },
            {
              "fieldId": "d_name",
              "fieldValue": "={{ $('Data').item.json.d_name }}"
            },
            {
              "fieldId": "is_bot",
              "fieldValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        960,
        1760
      ],
      "id": "ebf3fc62-8116-4722-a957-9db420011b0b",
      "name": "SaveToChats"
    },
    {
      "parameters": {
        "content": "## Kiểm tra xem chủ zalo đã vào chát với người dùng chưa\n- Nếu chủ zalo đã tiếp nhận thì phải stop bot lại\n- Ở đây kiểm tra xem id người dùng này đã có trong danh sách đã tiếp nhận hay chưa",
        "height": 260,
        "width": 680
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        1664
      ],
      "typeVersion": 1,
      "id": "da05cc2e-b791-4f87-8343-50a2a385bff0",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "zl_included_users",
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "={{ $json.thread_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1312,
        1760
      ],
      "id": "1ef4a80e-fe81-4340-8588-d4a3087d4c82",
      "name": "GetUserIncluded",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f279a143-a74d-4cbb-b815-c8443c8626ef",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1504,
        1760
      ],
      "id": "96f49f95-6954-4522-b5ec-87bdb8910825",
      "name": "IfDoesNotExist",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8015a26-bb7e-43ed-bb8b-c5556d004990",
              "name": "message_id",
              "value": "={{ $json.message.data.msgId }}",
              "type": "string"
            },
            {
              "id": "2aea730c-3bc3-487a-812e-eaba6e287e47",
              "name": "text",
              "value": "={{ $json.message.data.content }}",
              "type": "string"
            },
            {
              "id": "ed054f84-a1ea-45e6-b12c-c37bca8aee8f",
              "name": "d_name",
              "value": "={{ $json.message.data.dName }}",
              "type": "string"
            },
            {
              "id": "7cf9cfe3-61da-45b1-9df9-a6eefd68c371",
              "name": "from_id",
              "value": "={{ $json.message.data.uidFrom }}",
              "type": "string"
            },
            {
              "id": "00970e0d-5e08-4639-ab12-4c7ea240ed5b",
              "name": "to_id",
              "value": "={{ $json.message.data.idTo }}",
              "type": "string"
            },
            {
              "id": "ae2750dc-8d54-4310-acc5-0de8c8cca279",
              "name": "threadld",
              "value": "={{ $json.message.threadId }}",
              "type": "string"
            },
            {
              "id": "d820ec29-8d80-47cf-b11a-ebceed63fada",
              "name": "key",
              "value": "={{ $json.message.threadId }}",
              "type": "string"
            },
            {
              "id": "561d4afa-3181-42b8-93f2-dfe3e6f1bbad",
              "name": "timestamp",
              "value": "={{ $json.message.data.ts }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        1760
      ],
      "id": "e76bb5f3-fab3-4852-b99b-802a1882f7ae",
      "name": "Data"
    },
    {
      "parameters": {
        "content": "## Nếu tin nhắn là của chủ zalo",
        "height": 620,
        "width": 1980,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        688
      ],
      "typeVersion": 1,
      "id": "99bcc9cd-8e51-421e-acbd-2266d0c87091",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8015a26-bb7e-43ed-bb8b-c5556d004990",
              "name": "message_id",
              "value": "={{ $json.message.data.msgId }}",
              "type": "string"
            },
            {
              "id": "2aea730c-3bc3-487a-812e-eaba6e287e47",
              "name": "text",
              "value": "={{ $json.message.data.content }}",
              "type": "string"
            },
            {
              "id": "ed054f84-a1ea-45e6-b12c-c37bca8aee8f",
              "name": "d_name",
              "value": "={{ $json.message.data.dName }}",
              "type": "string"
            },
            {
              "id": "7cf9cfe3-61da-45b1-9df9-a6eefd68c371",
              "name": "from_id",
              "value": "={{ $json.message.data.uidFrom }}",
              "type": "string"
            },
            {
              "id": "00970e0d-5e08-4639-ab12-4c7ea240ed5b",
              "name": "to_id",
              "value": "={{ $json.message.data.idTo }}",
              "type": "string"
            },
            {
              "id": "ae2750dc-8d54-4310-acc5-0de8c8cca279",
              "name": "thread_id",
              "value": "={{ $json.message.threadId }}",
              "type": "string"
            },
            {
              "id": "d820ec29-8d80-47cf-b11a-ebceed63fada",
              "name": "key",
              "value": "={{ $json.message.threadId }}",
              "type": "string"
            },
            {
              "id": "561d4afa-3181-42b8-93f2-dfe3e6f1bbad",
              "name": "timestamp",
              "value": "={{ $json.message.data.ts }}",
              "type": "string"
            },
            {
              "id": "2496817e-1462-458a-85a3-eb1983007e09",
              "name": "is_bot",
              "value": "false",
              "type": "string"
            },
            {
              "id": "16cb96b6-bd29-4424-aa86-70dd67a383f5",
              "name": "status",
              "value": "done",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        848
      ],
      "id": "7deba670-316e-4087-8536-a1b788ac61ee",
      "name": "Data2"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "zl_chats",
        "filters": {
          "conditions": [
            {
              "keyName": "message_id",
              "keyValue": "={{ $json.message_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        832,
        1120
      ],
      "id": "269e3234-814a-4aa2-bae8-2480c596e1e1",
      "name": "FindById",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "9a042fec-fd94-471b-8dbe-951b084aa7ee",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        1120
      ],
      "id": "25e8cbed-1f64-492f-9f90-b4fcea8a3901",
      "name": "IfExistsMessage"
    },
    {
      "parameters": {
        "tableId": "zl_chats",
        "dataToSend": "autoMapInputData",
        "inputsToIgnore": "key"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1504,
        864
      ],
      "id": "81623af3-27a7-4ee0-a769-699c29409527",
      "name": "SaveMessage"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "zl_chats",
        "filters": {
          "conditions": [
            {
              "keyName": "message_id",
              "keyValue": "={{ $json.message_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        528,
        1760
      ],
      "id": "4e9cb902-9683-4674-b17b-f4a4cfefaefe",
      "name": "FindById2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02d72cf3-bcee-4e2a-866d-91a3ff41edaa",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        1760
      ],
      "id": "3865637f-8fcc-4a17-b695-9c4dde08006d",
      "name": "IfExistsMessage2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "## Check xem message này đã có trong db hay chưa",
        "height": 240,
        "width": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        784,
        1040
      ],
      "typeVersion": 1,
      "id": "24adf1bf-2df1-40e6-8420-fb1264ecb1c1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Nếu chưa có trong DB\n- Lưu message vào db",
        "height": 240,
        "width": 440
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1184,
        784
      ],
      "typeVersion": 1,
      "id": "76f73903-ffde-4dac-b33f-910c606f84e8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Switch\nDùng để phân loại đoạn chát ( Có thể là text, sticker,...vv )\n",
        "height": 260,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        1664
      ],
      "typeVersion": 1,
      "id": "9629c789-6684-4ec2-b643-15bd6ae5f6df",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Check xem message này đã có trong db hay chưa\n- Thao tác này đề phòng nhận cùng 1 tin nhắn 2 lần\n- Nếu tin nhắn bị lặp thì không trả lời nữa",
        "height": 260,
        "width": 600
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        1664
      ],
      "typeVersion": 1,
      "id": "396d914d-9bbb-4c5e-83a2-df210442bc9b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Lưu lại tin nhắn",
        "height": 260,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        1664
      ],
      "typeVersion": 1,
      "id": "19c6d0b0-733b-4f0a-a9a6-a32ded869118",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.data.msgType }}",
                    "rightValue": "webchat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "72612ffb-a0df-4276-9056-f3c5970aa96f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "eebb2d88-989c-4816-ba75-dfc946717bac",
                    "leftValue": "={{ $json.message.data.msgType }}",
                    "rightValue": "chat.voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "451a913f-1cb9-4cd3-832a-b2ebdf9dffdf",
                    "leftValue": "={{ $json.message.data.msgType }}",
                    "rightValue": "chat.sticker",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sticker"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8fb7d30d-699e-4772-a838-54c325126d5d",
                    "leftValue": "={{ $json.message.data.msgType }}",
                    "rightValue": "chat.photo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "photo"
            }
          ]
        },
        "options": {
          "fallbackOutput": 2
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        32,
        1008
      ],
      "id": "598279b5-88dd-4327-ad10-0d7ffc28ae48",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8015a26-bb7e-43ed-bb8b-c5556d004990",
              "name": "message_id",
              "value": "={{ $json.message.data.msgId }}",
              "type": "string"
            },
            {
              "id": "2aea730c-3bc3-487a-812e-eaba6e287e47",
              "name": "text",
              "value": "= ",
              "type": "string"
            },
            {
              "id": "ed054f84-a1ea-45e6-b12c-c37bca8aee8f",
              "name": "d_name",
              "value": "={{ $json.message.data.dName }}",
              "type": "string"
            },
            {
              "id": "7cf9cfe3-61da-45b1-9df9-a6eefd68c371",
              "name": "from_id",
              "value": "={{ $json.message.data.uidFrom }}",
              "type": "string"
            },
            {
              "id": "00970e0d-5e08-4639-ab12-4c7ea240ed5b",
              "name": "to_id",
              "value": "={{ $json.message.data.idTo }}",
              "type": "string"
            },
            {
              "id": "ae2750dc-8d54-4310-acc5-0de8c8cca279",
              "name": "thread_id",
              "value": "={{ $json.message.threadId }}",
              "type": "string"
            },
            {
              "id": "d820ec29-8d80-47cf-b11a-ebceed63fada",
              "name": "key",
              "value": "={{ $json.message.threadId }}",
              "type": "string"
            },
            {
              "id": "561d4afa-3181-42b8-93f2-dfe3e6f1bbad",
              "name": "timestamp",
              "value": "={{ $json.message.data.ts }}",
              "type": "string"
            },
            {
              "id": "2496817e-1462-458a-85a3-eb1983007e09",
              "name": "is_bot",
              "value": "false",
              "type": "string"
            },
            {
              "id": "16cb96b6-bd29-4424-aa86-70dd67a383f5",
              "name": "status",
              "value": "done",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        1120
      ],
      "id": "1220c7dd-f49d-4561-b9b0-1f3f234f1485",
      "name": "Data3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dxunek.datadex.vn/webhook/zalo_on_message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Data').first().json.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        1760
      ],
      "id": "97197134-9ec9-4000-82cc-7e40cb5512d7",
      "name": "SendOnMessage"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1264,
        864
      ],
      "id": "b7df5b23-cb11-4493-a0c5-0cc8623b25e6",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "## Nếu tin nhắn là của người dùng",
        "height": 380,
        "width": 1980,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        1568
      ],
      "typeVersion": 1,
      "id": "e2d0fc12-e347-499a-ad84-932476759a73",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "zl_included_users",
          "mode": "list",
          "cachedResultName": "zl_included_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "key": "={{ $json.thread_id }}",
            "from_id": "={{ $json.from_id }}",
            "to_id": "={{ $json.to_id }}"
          },
          "matchingColumns": [
            "key"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "from_id",
              "displayName": "from_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "to_id",
              "displayName": "to_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "key",
              "displayName": "key",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1760,
        864
      ],
      "id": "42836830-fb98-4a8b-bc32-386ed027f16e",
      "name": "InsertOrUpdateIncluded"
    },
    {
      "parameters": {
        "content": "## Insert Or Update Included\n- Nếu là người thật thì đưa vào danh sách loại trừ",
        "height": 240,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1648,
        784
      ],
      "typeVersion": 1,
      "id": "c22e9173-df9a-43dc-8eb0-7a39e08a26bf",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        848
      ],
      "id": "5628721f-688b-4dca-a220-e494057b7352",
      "name": "Wait2",
      "webhookId": "47d5a2d8-d86d-45a5-a417-1585035545f9"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "zl_chats",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "keyValue": "pending"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2208,
        448
      ],
      "id": "bf33edb0-763b-4934-b6d7-a5f37f974dc2",
      "name": "GetAllMessage"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "zl_chats",
        "filterType": "string",
        "filterString": "=id=in.({{ $('GetAllMessage').all().map(item => item.json.id) }})",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "done"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2528,
        448
      ],
      "id": "30dc9b48-a4da-4528-b66d-c9bafbec4ee3",
      "name": "UpdateDoneMessage",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    ... $('GetAllMessage').last().json,\n    text: $('GetAllMessage').all().map(m => m.json.text).join(' '),\n    content: $input.all()\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2864,
        448
      ],
      "id": "182dc6da-157c-4c1e-aa10-89fd355d7982",
      "name": "MergeMessage"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# ROLE\nrole: assistant\nname: dinner_menu_bot\ndescription: |\n  Bạn là chatbot AI chuyên hỗ trợ tư vấn thực đơn buổi tối bằng tiếng Việt. \n  Bạn cũng hỗ trợ hỏi thông tin giao hàng nếu người dùng có nhu cầu.\n\n# TOOL\ntools:\n  - name: data\n    description: Truy xuất thực đơn buổi tối. Mỗi mục gồm:\n      - \"Tên món\": tên món ăn bằng tiếng Việt (không dịch)\n      - \"Giá\": giá món ăn\n      - \"ảnh\": link ảnh món ăn (chỉ hiển thị nếu người dùng yêu cầu rõ ràng)\n\n# TRIGGER KEYWORDS\ntrigger_phrases:\n  - \"menu\"\n  - \"thực đơn\"\n  - \"tối nay có món gì\"\n  - \"ăn gì\"\n  - \"giá bao nhiêu\"\n  - \"món chay có không\"\n  - \"cho xin thực đơn\"\n  - \"tối nay có lẩu không\"\n  - \"gợi ý món ăn tối\"\n  - \"có món nào ngon\"\n  - \"món mặn\"\n  - \"món ăn nhẹ\"\n  - \"ship\"\n  - \"giao hàng\"\n  - \"có giao hàng không\"\n  - \"giao tận nơi\"\n  - \"mình muốn đặt món\"\n  - \"ship tới\"\n\n# RESPONSE RULES\nbehavior:\n  - Luôn dùng tool `data` để truy vấn món ăn.\n  - Chỉ phản hồi nếu người dùng nói về thực đơn buổi tối hoặc giao hàng.\n  - Nếu không liên quan → trả lời:  \n      \"Dạ em là trợ lý AI, hiện tại em chỉ hỗ trợ tư vấn thực đơn và món ăn buổi tối.  \n      Bạn cần xem menu hay đặt món gì không ạ?\"\n\n# RESPONSE FORMAT\nresponse_style:\n  - Trả lời thân thiện, ngắn gọn, bằng tiếng Việt.\n  - Hiển thị món ăn và giá như sau:\n      🍚 Cơm gà xối mỡ – 45.000đ  \n      🥢 Bún bò Huế – 50.000đ  \n      🌱 Món chay, lẩu, ăn vặt và đồ uống nữa nhé!  \n      Bạn muốn xem đầy đủ menu không ạ?\n\n# IMAGE HANDLING\nimage_handling:\n  - ❌ Không bao giờ hiển thị ảnh nếu người dùng không yêu cầu rõ ràng.\n  - ✅ Chỉ hiển thị `data[\"ảnh\"]` nếu người dùng yêu cầu ảnh bằng các cụm như:\n      - \"cho mình xem ảnh\", \"có hình món đó không\", \"cho xem ảnh cơm gà\", v.v.\n  - ❌ Nếu không có ảnh trong `data`, trả lời:  \n      \"Dạ món này hiện chưa có hình ảnh ạ.\"\n  - ❌ Không được tạo ảnh hoặc link ảnh giả.\n\n# SHIPPING HANDLING\nshipping_rules:\n  - Nếu người dùng hỏi về ship/giao hàng → phản hồi:\n      \"Dạ bên em có hỗ trợ giao hàng ạ.  \n      Mình vui lòng cho em xin địa chỉ nhận hàng và số điện thoại để bên em giao tận nơi nhé!\"\n\n  - Nếu người dùng đã chọn món và muốn đặt → gợi ý tiếp tục:  \n      \"Mình chọn món xong có thể gửi giúp em địa chỉ và số điện thoại để em lên đơn giao liền nha!\"\n\n# MÓN KHÔNG CÓ TRONG DATA\nno_data_handling:\n  - Nếu `data` không có món được hỏi → trả lời:\n      \"Dạ món này hiện chưa có trong thực đơn ạ. Bạn muốn xem món khác không?\"\n\n# STRICT RULES\nstrict_data_policy:\n  - ❌ Không được bịa tên món, giá, hay ảnh.\n  - ✅ Chỉ dùng đúng dữ liệu từ tool `data`.\n\n# TONE\ntone:\n  - Giọng điệu thân thiện, rõ ràng, gần gũi\n  - Luôn dùng tiếng Việt\n\n# MEMORY / CONTEXTUAL MEMORY\nmemory_handling:\n  - Nếu người dùng đã cung cấp địa chỉ và/hoặc số điện thoại trước đó trong cuộc trò chuyện hiện tại → sử dụng lại, KHÔNG hỏi lại.\n  - Nếu chưa có địa chỉ hoặc số điện thoại → lịch sự yêu cầu người dùng cung cấp.\n  - Luôn xác nhận lại địa chỉ/sđt trước khi xác nhận đơn hàng.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        3280,
        448
      ],
      "id": "863b1234-c0fe-44cd-bdd7-91264649e032",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "temperature": 0.2,
          "topP": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3248,
        672
      ],
      "id": "5863baa8-103a-43c8-8509-485527191a4a",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.thread_id }}",
        "tableName": "n8n_chat_histories_zl"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3408,
        672
      ],
      "id": "20940017-0310-46bc-ba8b-929bf7749244",
      "name": "Postgres Chat Memory"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-zalos-user.zaloSendMessage",
      "typeVersion": 4,
      "position": [
        3168,
        928
      ],
      "id": "d2a42879-ab50-4300-8e7d-358f44f3eb03",
      "name": "Zalo Send Message"
    },
    {
      "parameters": {
        "tableId": "zl_chats",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "from_id",
              "fieldValue": "={{ $('MergeMessage').item.json.from_id }}"
            },
            {
              "fieldId": "to_id",
              "fieldValue": "={{ $('MergeMessage').item.json.to_id }}"
            },
            {
              "fieldId": "thread_id",
              "fieldValue": "={{ $json.threadId }}"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $now.toMillis() }}"
            },
            {
              "fieldId": "message_id",
              "fieldValue": "={{ $json.response.message.msgId }}"
            },
            {
              "fieldId": "text",
              "fieldValue": "={{ $json.messageContent.msg }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "done"
            },
            {
              "fieldId": "d_name",
              "fieldValue": "={{ $('MergeMessage').last().json.d_name }}"
            },
            {
              "fieldId": "is_bot",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3392,
        912
      ],
      "id": "ffdb0a83-04c9-4a7d-9d9b-dfd6f8a18e8b",
      "name": "SaveToChats1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-zalos-user.zaloSendMessage",
      "typeVersion": 4,
      "position": [
        3920,
        1792
      ],
      "id": "f92ecebe-161e-456c-9b0f-9ff7f5b4432d",
      "name": "Zalo Send Message1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2448,
        1472
      ],
      "id": "fd5895fb-0e56-4125-8d07-dbb134dd4d6a",
      "name": "OpenAI Chat Model2"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"text\": {\n        \"type\": \"string\"\n      },\n      \"image\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\",\n          \"format\": \"uri\"\n        }\n      }\n    },\n    \"required\": [\"text\", \"image\"]\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2624,
        1472
      ],
      "id": "1e24ada9-f2e9-4db9-9e6f-d9aa4ef0829b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Chuyển đoạn nội dung dưới đây thành mảng JSON theo format: [{ \"text\": \"nd\", \"image\": [\"url1\", \"url2\"] }] Với mỗi mục, \"text\" là phần mô tả của hình ảnh và \"image\" là mảng chứa link các ảnh trong mục đó. Bỏ qua định dạng Markdown, chỉ lấy nội dung và link ảnh."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        2448,
        1264
      ],
      "id": "19395a09-c410-47df-a68f-0c0f254b59cd",
      "name": "Basic LLM Chain",
      "retryOnFail": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2800,
        1264
      ],
      "id": "c1a05972-9da7-42cc-9816-09406e58bf5d",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3024,
        1264
      ],
      "id": "f265a809-12e0-47cd-abf5-988763bf7e79",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "image",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3088,
        1584
      ],
      "id": "139736b9-f6e4-4fc4-a5d0-c66d6af724a4",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1tbbkYaSAG8GIx8Ul1kL_3yOC6f9d7leiTwL2eYSzUiU/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tbbkYaSAG8GIx8Ul1kL_3yOC6f9d7leiTwL2eYSzUiU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        3552,
        672
      ],
      "id": "346684e8-82b4-41ae-aacd-9b91f70d032d",
      "name": "data"
    },
    {
      "parameters": {
        "tableId": "zl_chats",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "from_id",
              "fieldValue": "={{ $('MergeMessage').item.json.from_id }}"
            },
            {
              "fieldId": "to_id",
              "fieldValue": "={{ $('MergeMessage').item.json.to_id }}"
            },
            {
              "fieldId": "thread_id",
              "fieldValue": "={{ $json.threadId }}"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $now.toMillis() }}"
            },
            {
              "fieldId": "message_id",
              "fieldValue": "={{ $json.response.attachment[0].msgId }}"
            },
            {
              "fieldId": "text",
              "fieldValue": "={{ $json.messageContent.msg }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "done"
            },
            {
              "fieldId": "d_name",
              "fieldValue": "={{ $('MergeMessage').last().json.d_name }}"
            },
            {
              "fieldId": "is_bot",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4288,
        1792
      ],
      "id": "b1114e2a-a6db-4165-90a6-4d12e64e602c",
      "name": "SaveToChats2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4752,
        1792
      ],
      "id": "29aadac6-bfce-4171-bc2b-25c80847956a",
      "name": "Wait",
      "webhookId": "49f92e25-7578-4763-84df-ed87c3dad3e7"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        2448,
        192
      ],
      "id": "6afa3641-983b-47ba-9855-6bd66d939cb8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-debounce.debouncePostgres",
      "typeVersion": 1,
      "position": [
        2880,
        192
      ],
      "id": "0d6c2911-e7b9-4155-9e75-4ada8cc48c8c",
      "name": "Debounce Postgres",
      "credentials": {}
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zalo_on_message",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2224,
        192
      ],
      "id": "d2bf0f96-8cca-4bf4-a3c9-69dd8df56f5c",
      "name": "OnMessage",
      "webhookId": "ef7c2705-2b91-46bf-bd98-7d6bc8165d40"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3688a7eb-5667-4758-8bc4-67d82423784d",
              "leftValue": "={{ $json.output }}",
              "rightValue": "https?://[^\\s\"']+",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2192,
        912
      ],
      "id": "1ac6292c-4f0a-4b1d-8546-b9f39c671df1",
      "name": "IfExistLink"
    },
    {
      "parameters": {
        "content": "## Lưu tin nhắn\n- Lưu lại tin nhắn vào csdl",
        "height": 220,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3328,
        832
      ],
      "typeVersion": 1,
      "id": "7aa339d0-c24f-45d4-827c-afd6b370d2e6",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Phân tách tin nhắn có kèm ảnh\n- Sử dụng AI để phân tách tin nhắn kèm ảnh",
        "height": 240,
        "width": 520
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2432,
        1168
      ],
      "typeVersion": 1,
      "id": "33f49485-8fd9-4576-b512-62f0137dafc3",
      "name": "Sticky Note10"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2192,
        1264
      ],
      "id": "cd53fccc-ee8f-453a-b384-61dc25821d2d",
      "name": "Tin nhắn có ảnh"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2752,
        928
      ],
      "id": "c25580bc-0bda-415d-bbc3-970012d48037",
      "name": "Tin nhắn không ảnh"
    },
    {
      "parameters": {
        "content": "## Trả lời tin nhắn\n- Nếu đoạn tin nhắn này không có ảnh",
        "height": 220,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3520,
        1184
      ],
      "typeVersion": 1,
      "id": "fbc31d90-157d-4215-bc9e-70cc961916a3",
      "name": "Sticky Note11"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-zalos-user.zaloSendMessage",
      "typeVersion": 4,
      "position": [
        3664,
        1264
      ],
      "id": "697da062-f831-4fb5-9354-60d563fdd1f7",
      "name": "Zalo Send Message2"
    },
    {
      "parameters": {
        "tableId": "zl_chats",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "from_id",
              "fieldValue": "={{ $('MergeMessage').item.json.from_id }}"
            },
            {
              "fieldId": "to_id",
              "fieldValue": "={{ $('MergeMessage').item.json.to_id }}"
            },
            {
              "fieldId": "thread_id",
              "fieldValue": "={{ $json.threadId }}"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $now.toMillis() }}"
            },
            {
              "fieldId": "message_id",
              "fieldValue": "={{ $json.response.attachment[0].msgId }}"
            },
            {
              "fieldId": "text",
              "fieldValue": "={{ $json.messageContent.msg }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "done"
            },
            {
              "fieldId": "d_name",
              "fieldValue": "={{ $('MergeMessage').last().json.d_name }}"
            },
            {
              "fieldId": "is_bot",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3952,
        1264
      ],
      "id": "006a6787-12ae-490c-a6e1-c9b850658b44",
      "name": "SaveToChats3",
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "4a008533-4c98-4124-b3b5-e13b3f1e22a9",
              "leftValue": "={{ $json.image }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3328,
        1264
      ],
      "id": "7f88059e-f8be-4ae7-8422-700a34c9ece4",
      "name": "IfNotImage"
    },
    {
      "parameters": {
        "content": "## Lưu tin nhắn\n- Lưu lại tin nhắn vào csdl",
        "height": 220,
        "width": 580
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3888,
        1184
      ],
      "typeVersion": 1,
      "id": "c4cef9e1-03f2-4e55-8ff1-ce58f449ecc4",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Phân tách\n- Phân tách link ảnh nếu đoạn tin có nhiều link ảnh",
        "height": 260,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3040,
        1472
      ],
      "typeVersion": 1,
      "id": "db410eda-2db2-43f0-bb2e-11058c8764f2",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Phân loại link ảnh\n- xem link ảnh là link drive hay link self host",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3264,
        1472
      ],
      "typeVersion": 1,
      "id": "669df36a-3861-4a37-8fea-f64bdb2f5c3c",
      "name": "Sticky Note14"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3664,
        1488
      ],
      "id": "1fd963a2-be69-4885-86a3-72bb783297af",
      "name": "Link ảnh server cá nhân"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4472944c-60c5-4af8-a5cd-6d502e9921c4",
              "name": "=image",
              "value": "=https://dxunek.datadex.vn/webhook/f6084433-b03b-4c23-9e67-704ca3ba2812?url={{ $json.image }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3664,
        1792
      ],
      "id": "0560ed3c-9ff6-4469-b1b3-1e82dd97545f",
      "name": "Link ảnh drive"
    },
    {
      "parameters": {
        "content": "## Trả lời tin nhắn\n- Trả lời tin nhắn kèm theo ảnh",
        "height": 240,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3888,
        1680
      ],
      "typeVersion": 1,
      "id": "b1faf2f0-7bd3-4bd3-9783-221ad29bcbaa",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## Lưu tin nhắn\n- Lưu lại tin nhắn vào csdl",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4160,
        1680
      ],
      "typeVersion": 1,
      "id": "afe2096c-d0c1-46ed-bf85-b8bd9cbcc75f",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cbcd35cb-2d2b-4d3f-b0e2-d2b9411a4c7c",
              "name": "message_id",
              "value": "={{ $json.body.message_id }}",
              "type": "string"
            },
            {
              "id": "3a94490b-3090-44a5-b63d-003235c06a74",
              "name": "text",
              "value": "={{ $json.body.text }}",
              "type": "string"
            },
            {
              "id": "05c893f0-f84d-4d19-a457-65b7aa38b3f9",
              "name": "d_name",
              "value": "={{ $json.body.d_name }}",
              "type": "string"
            },
            {
              "id": "4065e882-8075-42e3-92a6-e21827ee00da",
              "name": "from_id",
              "value": "={{ $json.body.from_id }}",
              "type": "string"
            },
            {
              "id": "a86f5164-d6ab-431e-a997-9316e88fe084",
              "name": "to_id",
              "value": "={{ $json.body.to_id }}",
              "type": "string"
            },
            {
              "id": "f39b34cc-5087-4765-8a91-eb573b902382",
              "name": "thread_id",
              "value": "={{ $json.body.threadld }}",
              "type": "string"
            },
            {
              "id": "d40c524c-6c85-4ff4-bdf5-a57bf2701162",
              "name": "key",
              "value": "={{ $json.body.key }}",
              "type": "string"
            },
            {
              "id": "b691f74d-e71a-4021-84d2-37b5f1c860ed",
              "name": "timestamp",
              "value": "={{ $json.body.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2672,
        192
      ],
      "id": "20409134-9f47-4099-a1a8-564fc4a0faf2",
      "name": "BodyData"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ encodeURI($json.image) }}",
                    "rightValue": "/https?:\\/\\/[^\\s]+?\\.(jpg|jpeg|png|gif)(\\?[^\\s]*)?/gi",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    },
                    "id": "5bfc1fd6-bf94-4cae-b1fe-266c29502ad6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "link"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4aa7cbe6-2423-490c-8b4d-9bbc8b951b75",
                    "leftValue": "={{ $json.image }}",
                    "rightValue": "https?://(?:drive\\.google\\.com|docs\\.google\\.com)/[^\\s\"']+",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "driver"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3360,
        1584
      ],
      "id": "6b69fa18-a611-4e4a-86eb-bd48301cc658",
      "name": "Switch2"
    },
    {
      "parameters": {
        "content": "## Chờ người dùng trả lời\n- Người dùng có thể trả lời ngắt quãng",
        "height": 260,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2848,
        80
      ],
      "typeVersion": 1,
      "id": "ecadd55c-c867-4aa8-8f9d-1a8d597eb466",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "## Get All Message\n- Lấy ra toàn bộ tin nhắn của người dùng",
        "height": 240,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2144,
        368
      ],
      "typeVersion": 1,
      "id": "27e3e03f-002d-4cb0-befc-38435dce2cb9",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "## Cập nhật trạng thái\n- Đổi trạng thái pending sang done",
        "height": 240,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2480,
        368
      ],
      "typeVersion": 1,
      "id": "216b36d4-edcc-430b-baee-6a1ac651ec84",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "## Gộp tin nhắn\n- Gộp toàn bộ tin nhắn lại thành 1 tin nhắn\n",
        "height": 240,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2848,
        368
      ],
      "typeVersion": 1,
      "id": "78297f41-a44b-40cc-b06c-2be9909f3c8b",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "## AI Agent\n- Sử dụng AI Agent để trả lời tin nhắn",
        "height": 240,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3232,
        368
      ],
      "typeVersion": 1,
      "id": "28340180-c050-47ba-ac82-d64534fd452e",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "## Phân nhánh\n- Kiểm tra xem trong nội dung trả lời có ảnh hay không để phân nhánh",
        "height": 220,
        "width": 520
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2144,
        832
      ],
      "typeVersion": 1,
      "id": "18c79fb0-2b41-4af2-9152-0bf0dbe26611",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "## Trả lời tin nhắn\n- Nếu nội dung câu trả lời không có ảnh. Thì ta gửi luôn câu trả lời về cho người dùng",
        "height": 220,
        "width": 620
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2688,
        832
      ],
      "typeVersion": 1,
      "id": "117c6661-631d-4b8e-a4d8-b5e488a3abfd",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "path": "f6084433-b03b-4c23-9e67-704ca3ba2813",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        480,
        112
      ],
      "id": "ffd9fe22-6b9d-418f-9327-4f10d4d44cfa",
      "name": "DownloadFile",
      "webhookId": "f6084433-b03b-4c23-9e67-704ca3ba2812"
    },
    {
      "parameters": {
        "content": "## Tạo link ảnh drive\n- Nhớ thay link được lấy từ webhook DownloadFile",
        "height": 240,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3520,
        1680
      ],
      "typeVersion": 1,
      "id": "5970d551-e39f-4d27-bd54-af20a0d263a5",
      "name": "Sticky Note27"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4288,
        1264
      ],
      "id": "a7f83e70-d1d2-4eb3-bd65-d2abd28fb40f",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        864,
        112
      ],
      "id": "7a0ba287-f74b-4308-99dd-90e24af2c128",
      "name": "Respond to Webhook1"
    }
  ],
  "connections": {
    "CreateIncludedTable": {
      "main": [
        [
          {
            "node": "CreateDebounceTable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateChatsTable": {
      "main": [
        [
          {
            "node": "CreateIncludedTable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "CreateChatsTable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zalo Message Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SaveToChats": {
      "main": [
        [
          {
            "node": "GetUserIncluded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetUserIncluded": {
      "main": [
        [
          {
            "node": "IfDoesNotExist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfDoesNotExist": {
      "main": [
        [
          {
            "node": "SendOnMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "main": [
        [
          {
            "node": "FindById2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data2": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FindById": {
      "main": [
        [
          {
            "node": "IfExistsMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfExistsMessage": {
      "main": [
        [],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "SaveMessage": {
      "main": [
        [
          {
            "node": "InsertOrUpdateIncluded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FindById2": {
      "main": [
        [
          {
            "node": "IfExistsMessage2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfExistsMessage2": {
      "main": [
        [],
        [
          {
            "node": "SaveToChats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Data2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Data3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Data3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Data3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data3": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "SaveMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "FindById",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetAllMessage": {
      "main": [
        [
          {
            "node": "UpdateDoneMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateDoneMessage": {
      "main": [
        [
          {
            "node": "MergeMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MergeMessage": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "IfExistLink",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Zalo Send Message": {
      "main": [
        [
          {
            "node": "SaveToChats1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zalo Send Message1": {
      "main": [
        [
          {
            "node": "SaveToChats2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "IfNotImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SaveToChats2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "BodyData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debounce Postgres": {
      "main": [
        [
          {
            "node": "GetAllMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OnMessage": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfExistLink": {
      "main": [
        [
          {
            "node": "Tin nhắn không ảnh",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tin nhắn có ảnh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tin nhắn có ảnh": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tin nhắn không ảnh": {
      "main": [
        [
          {
            "node": "Zalo Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zalo Send Message2": {
      "main": [
        [
          {
            "node": "SaveToChats3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SaveToChats3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfNotImage": {
      "main": [
        [
          {
            "node": "Zalo Send Message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Link ảnh server cá nhân": {
      "main": [
        [
          {
            "node": "Zalo Send Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Link ảnh drive": {
      "main": [
        [
          {
            "node": "Zalo Send Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BodyData": {
      "main": [
        [
          {
            "node": "Debounce Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Link ảnh server cá nhân",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Link ảnh drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DownloadFile": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "active": false
}