workflows/Tiktok_menamine2_-_n_hong_hn.json
{
  "updatedAt": "2026-02-11T01:33:22.489Z",
  "createdAt": "2026-02-08T09:03:22.446Z",
  "id": "dgM3g2ePB7nKKXDN",
  "name": "Tiktok menamine2 - đèn hoàng hôn",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1472,
        1760
      ],
      "id": "ec650e03-eb06-48ff-829f-2da7f10b26fb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://shop.thetaphoa.store/api/veo3-tokens",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1248,
        1664
      ],
      "id": "7aeef6eb-5eb0-4e24-a082-51ab5dacf25e",
      "name": "get token veo3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "19257071-5bd9-41c9-a242-ddccd226554c",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        1120
      ],
      "id": "86edc3a1-25d4-4710-8aa8-594fdf589fcb",
      "name": "check status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bb52ec6b-2c36-4ad0-88d7-89b2f77ffbc4",
              "leftValue": "={{ $json.operations[0].operation.metadata.video.fifeUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1568,
        992
      ],
      "id": "581110e8-eee9-4e74-b691-4179c0a16a92",
      "name": "kiểm tra xem có file url"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1120,
        1280
      ],
      "id": "6ddb49bb-0b16-4c05-9755-ad4d99775f44",
      "name": "Wait2",
      "webhookId": "b96fc9c1-6669-43c1-84f8-af114f67297d"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1792,
        1072
      ],
      "id": "f9757090-5383-4592-95d5-402e6e46089c",
      "name": "Wait3",
      "webhookId": "82f89e17-3c0d-4d0e-8fae-1b65c25f29dc"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        128,
        1584
      ],
      "id": "18d9df30-3082-46ae-8eff-77a7024719c6",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/files/temp_video_{{ $itemIndex }}.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        896,
        1552
      ],
      "id": "455e33b2-3cd3-4cd9-b34e-40084c16b246",
      "name": "ghi mấy video vô folder tạm"
    },
    {
      "parameters": {
        "fileSelector": "/files/final_output.mp4",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        2016,
        1568
      ],
      "id": "c7734915-dc47-4b96-9cba-5fc3a1d216a9",
      "name": "lấy video ra"
    },
    {
      "parameters": {
        "command": "rm -f /files/*"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2432,
        1568
      ],
      "id": "0c7e1054-45b6-4c1a-94d8-f42aad33b5d7",
      "name": "Xóa video sau đăng"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1920,
        1568
      ],
      "id": "951882b6-3c1b-436f-84ba-a46b45cc79c8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://flow-api.nanoai.pics/api/fix/create-flow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6Mjc2LCJyb2xlIjozLCJpYXQiOjE3NzA3NDA5NDh9.cOuA90MuxKposYRENvOSmeh70FXCfJhjvH9364JcHmA"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"flow_url\": \"https://aisandbox-pa.googleapis.com/v1/video:batchAsyncGenerateVideoText\",\n  \"flow_auth_token\": \"{{ $('get token veo3').item.json.data[0].value }}\",\n  \"body_json\": {\n    \"clientContext\": {\n      \"recaptchaContext\": {\n        \"token\": \"\",\n        \"applicationType\": \"RECAPTCHA_APPLICATION_TYPE_WEB\"\n      },\n      \"sessionId\": \";1770714262718\",\n      \"projectId\": \"ca491fb1-9f80-4c6a-9b69-8c0fadee7c0b\",\n      \"tool\": \"PINHOLE\",\n      \"userPaygateTier\": \"PAYGATE_TIER_TWO\"\n    },\n    \"requests\": [\n      {\n        \"aspectRatio\": \"VIDEO_ASPECT_RATIO_PORTRAIT\",\n        \"seed\": 27076,\n        \"textInput\": {\n          \"prompt\": \"{{ $json.output }}\"\n        },\n        \"videoModelKey\": \"veo_3_1_t2v_fast_portrait_ultra\",\n        \"metadata\": {\n          \"sceneId\": \"0a65fde6-44f0-4139-bf1c-8cc2e5357bd3\"\n        }\n      }\n    ]\n  },\n  \"is_proxy\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        1136
      ],
      "id": "7b3bfa56-a69c-4313-a56f-d236aa7c7427",
      "name": "Tạo video từ hình post"
    },
    {
      "parameters": {
        "url": "https://flow-api.nanoai.pics/api/fix/task-status",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $(\"Tạo video từ hình post\").item.json.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('get token veo3').item.json.data[0].tokenCheckStatus }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        1136
      ],
      "id": "f6ab5d50-cb24-4ed0-829c-f840eefc18a2",
      "name": "Check status"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aisandbox-pa.googleapis.com/v1/video:batchCheckAsyncVideoGenerationStatus",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "accept-language",
              "value": "en-AU,en-GB;q=0.9,en-US;q=0.8,en;q=0.7,vi;q=0.6"
            },
            {
              "name": "authorization",
              "value": "=Bearer {{ $('get token veo3').item.json.data[0].value }}"
            },
            {
              "name": "origin",
              "value": "https://labs.google"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://labs.google/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not(A:Brand\";v=\"8\", \"Chromium\";v=\"144\", \"Google Chrome\";v=\"144\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "cross-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36"
            },
            {
              "name": "x-browser-channel",
              "value": "stable"
            },
            {
              "name": "x-browser-copyright",
              "value": "Copyright 2026 Google LLC. All Rights reserved."
            },
            {
              "name": "x-browser-validation",
              "value": "AKIAtsVHZoiKbPixy+qSK1BgKWo="
            },
            {
              "name": "x-browser-year",
              "value": "2026"
            },
            {
              "name": "x-client-data",
              "value": "CK21yQEIjbbJAQijtskBCKmdygEIuubKAQiWocsBCIWgzQE="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operations\": [\n    {\n      \"operation\": {\n        \"name\": \"{{ $('Check status').item.json.result.operations[0].operation.name }}\"\n      },\n      \"status\": \"MEDIA_GENERATION_STATUS_ACTIVE\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1344,
        1072
      ],
      "id": "170f477b-b9e1-4a25-8157-4d2fad4a679f",
      "name": "Lấy video url"
    },
    {
      "parameters": {
        "url": "={{ $json.operations[0].operation.metadata.video.fifeUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1792,
        1328
      ],
      "id": "3c1f4322-eb98-425c-8a25-86c044e7a147",
      "name": "Get video"
    },
    {
      "parameters": {
        "postSettings": {
          "text": "={{ $('lấy data prompt').item.json.data[0].description }}",
          "visibilityType": 0,
          "allowComment": 1,
          "scheduleTime": "=0",
          "anchors": {
            "anchor": [
              {
                "type": "product",
                "productId": "={{ $('lấy data prompt').item.json.data[0].productId }}",
                "displayName": "={{ $('lấy data prompt').item.json.data[0].productTitle }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-social-tiktok.tikTokUpload",
      "typeVersion": 1,
      "position": [
        2224,
        1568
      ],
      "id": "8cb0d048-01b7-47d5-a0fa-0e8e4d553ec4",
      "name": "TikTok Upload File",
      "credentials": {
        "tiktokApi": {
          "id": "UXpOpodAqPGk9di3",
          "name": "TikTok Credential account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const minutes = Math.floor(Math.random() * 25) + 1;\nreturn [{ json: { delayMinutes: minutes } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        1568
      ],
      "id": "9eb017e8-d142-48d4-9afa-d0593a5ff70b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "amount": "={{ $json.delayMinutes }}",
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1472,
        1568
      ],
      "id": "6fdb2139-05cb-410f-8277-e2bd5a7ba1cc",
      "name": "Wait",
      "webhookId": "674c2567-5d60-48bc-8e7a-1a201036b46d"
    },
    {
      "parameters": {
        "url": "https://shop.thetaphoa.store//api/tiktok-music?random=1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1104,
        1552
      ],
      "id": "066ce215-f9d3-4660-ac91-4c54560548aa",
      "name": "Lấy link nhạc"
    },
    {
      "parameters": {
        "url": "={{ $json.data.music.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1312,
        1552
      ],
      "id": "9aec6df7-53f0-405b-8023-bb98cc5f258d",
      "name": "Lấy nhạc"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/files/temp_music.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1504,
        1552
      ],
      "id": "695368b1-93fd-4990-a2d0-d91c54dca867",
      "name": "ghi nhạc trong file tạm"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.subPrompt }}  \"{{ $json.content }}\"\"",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -128,
        1856
      ],
      "id": "a360d2c2-2274-43a2-b8e6-5bd23cd38d2e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data[0].prompts",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -512,
        1664
      ],
      "id": "ffd861d6-6247-4fca-bafe-d42c2eacff51",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -352,
        1808
      ],
      "id": "a8305303-58c7-4726-8eb3-ff0aedee5802",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "=claude-opus-4-6-thinking",
          "mode": "id"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -64,
        2080
      ],
      "id": "a4a2469f-3a0f-47f9-8707-ef64ff8d0bc2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ZQmj6pJ5Zy0uP5z1",
          "name": "CLI-proxy"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -64,
        1552
      ],
      "id": "218149f4-1df0-4038-b6d7-5c2bd3c96a09",
      "name": "Data merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2b827f27-a1db-401d-a00a-3d62a1b071b5",
              "leftValue": "={{ $json.data[0].enabled }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -800,
        1680
      ],
      "id": "3ff35f8d-d466-4337-abd6-5df334049537",
      "name": "Check flow enable"
    },
    {
      "parameters": {
        "url": "https://shop.thetaphoa.store/api/autoflows?accountId=6984100221bd5a4f3e75f004&productId=1730387676601289330&randomPrompt=true",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1024,
        1664
      ],
      "id": "41081f91-db01-4c16-9373-b10b38f1ac19",
      "name": "lấy data prompt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "725206b9-7c31-4630-bbf9-bff5d17ce395",
              "leftValue": "={{ $json.result.operations[0].operation.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        1072
      ],
      "id": "51ec6a50-e41a-47ae-b79f-b8ec43efbc64",
      "name": "kiểm tra tên có tồn tại hay ko"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        1552
      ],
      "id": "aa3e40b4-6a2f-4f46-a6d6-ffb3c376556d",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "={{ $('lấy data prompt').item.json.data[0].videoFiles[0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        288,
        1792
      ],
      "id": "804c9591-c5ee-4442-8934-a12556c5428f",
      "name": "Lấy video thật"
    },
    {
      "parameters": {
        "command": "# Bước 1: Normalize (fix resolution + FPS + audio)\ncount=0\nfor f in $(ls -v /files/temp_video_*.mp4); do\n  has_audio=$(ffprobe -v error -select_streams a -show_entries stream=codec_type -of csv=p=0 \"$f\")\n  if [ -z \"$has_audio\" ]; then\n    ffmpeg -y -i \"$f\" -f lavfi -i anullsrc=r=44100:cl=stereo \\\n      -vf \"scale=1080:1920:force_original_aspect_ratio=decrease,pad=1080:1920:(ow-iw)/2:(oh-ih)/2,setsar=1,fps=24\" \\\n      -c:v libx264 -preset fast -r 24 -c:a aac -ar 44100 -ac 2 \\\n      -shortest \"/files/normalized_${count}.mp4\"\n  else\n    ffmpeg -y -i \"$f\" \\\n      -vf \"scale=1080:1920:force_original_aspect_ratio=decrease,pad=1080:1920:(ow-iw)/2:(oh-ih)/2,setsar=1,fps=24\" \\\n      -c:v libx264 -preset fast -r 24 -c:a aac -ar 44100 -ac 2 \\\n      \"/files/normalized_${count}.mp4\"\n  fi\n  count=$((count+1))\ndone\n\n# Bước 2: Concat\nls -v /files/normalized_*.mp4 | sed \"s|^|file '|;s|$|'|\" > /files/concat_list.txt\nffmpeg -y -f concat -safe 0 -i /files/concat_list.txt -c copy /files/merged_output.mp4\n\n# Bước 3: Chèn nhạc\nffmpeg -y -i /files/merged_output.mp4 -i /files/temp_music.mp3 \\\n  -filter_complex \"[0:a]volume=1.0[va];[1:a]volume=0.2[ma];[va][ma]amix=inputs=2:duration=first:dropout_transition=2[aout]\" \\\n  -map 0:v -map \"[aout]\" -c:v copy -c:a aac -b:a 192k \\\n  /files/final_output.mp4"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1792,
        1568
      ],
      "id": "e5225170-a0e8-4939-8fae-486033bd9e4a",
      "name": "Execute Command"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "get token veo3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get token veo3": {
      "main": [
        [
          {
            "node": "lấy data prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check status": {
      "main": [
        [
          {
            "node": "kiểm tra tên có tồn tại hay ko",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lấy video thật",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kiểm tra xem có file url": {
      "main": [
        [
          {
            "node": "Get video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Check status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Lấy video url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tạo video từ hình post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ghi mấy video vô folder tạm": {
      "main": [
        [
          {
            "node": "Lấy link nhạc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lấy video ra": {
      "main": [
        [
          {
            "node": "TikTok Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tạo video từ hình post": {
      "main": [
        [
          {
            "node": "Check status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check status": {
      "main": [
        [
          {
            "node": "check status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy video url": {
      "main": [
        [
          {
            "node": "kiểm tra xem có file url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok Upload File": {
      "main": [
        [
          {
            "node": "Xóa video sau đăng",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "get token veo3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy link nhạc": {
      "main": [
        [
          {
            "node": "Lấy nhạc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy nhạc": {
      "main": [
        [
          {
            "node": "ghi nhạc trong file tạm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ghi nhạc trong file tạm": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Data merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Data merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Data merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check flow enable": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lấy data prompt": {
      "main": [
        [
          {
            "node": "Check flow enable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kiểm tra tên có tồn tại hay ko": {
      "main": [
        [
          {
            "node": "Lấy video url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "ghi mấy video vô folder tạm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy video thật": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "lấy video ra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "dbdbb1fd-f73c-42cc-881e-26025759c60d",
  "activeVersionId": null,
  "versionCounter": 90,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2026-02-10T16:38:51.215Z",
      "createdAt": "2026-02-10T16:38:51.215Z",
      "id": "ngoWS7ZuUgt39KwR",
      "name": "menamine2"
    }
  ],
  "shared": [
    {
      "updatedAt": "2026-02-08T09:03:22.450Z",
      "createdAt": "2026-02-08T09:03:22.450Z",
      "role": "workflow:owner",
      "workflowId": "dgM3g2ePB7nKKXDN",
      "projectId": "1uTvCtZTXcZZgYo6",
      "project": {
        "updatedAt": "2025-11-07T10:21:21.281Z",
        "createdAt": "2025-11-07T10:17:33.127Z",
        "id": "1uTvCtZTXcZZgYo6",
        "name": "Khuong Nguyen <nguyendangkhuong96@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "9896ea82-dabd-4a0c-aef6-2e69d1cb5764"
      }
    }
  ]
}